.icons{
	padding:10px;
}
.bottom{
	position:relative;
	bottom:50px;
	font-color:#ffffff;
	font:Arial;
	background-color:#4aaaa5;
	padding:10px;
	width:100%;
}
.container{
	width:100%;
	background-color:white;
	overflow:auto;
}
.container2{
		width:100%;
		border:#dddddd;
		background-color:;
    	bottom: 0;
}
.info{
	height:400px;
	width:600px;
	background:grey;
	position:relative;
	right:25px;
	float:right;
	top:50px;
}
.menu{
	font-color:#777777;
	font-family:Arial;
	padding:1em;
	float:right;
}

.content{
	width:960px;
	position:relative;
	margin:auto;
	overflow:auto;
	padding:1em;

}
.port{
	float:left;
	padding:1em;
}
.about{
	width:650px;
	clear:left;
	background-color:#ffffff;
	border: 2px #CCCCCC solid;
	padding:1em;
	overflow:auto;
}
.contact{
	width:650px;
	clear:left;
	background-color:white;
	border: 2px #CCCCCC solid;
	padding:5px;
}
.portfolio{
	width:650px;
	overflow:auto;
	background-color:#ffffff;
	border: 2px #CCCCCC solid;
	padding:5px;
} 
.sidebar{
	width:270px;
	float:right;
	clear:left;
	background-color:#ffffff;
	border: 2px #CCCCCC solid;
}	
.icons{
	text-align:center;
}
* {
	box-sizing: border-box;
}

input{
	clear:left;
	width:100%;
}
textarea{
	width:100%;
}
header{
	text-align:center;
	color:#ffffff;
	border:1px #cccccc;

}
footer{
  display: block;
  padding:1em;
  position:sticky;
  bottom:0px;
  text-align: center;
  background: #ebebeb;
}

body{
	background-image:url('../../assets/images/6.png');
	background-size: 1500px, 1500px;
}	
h1{color:white; 
	font: Arial;
	background-color:#4aaaa5;
	font-color:white;
	font-size:25px;
	font-family:Georgia;
	float:left;
	padding:1em;
}

h2{color:#4aaaa5; 
	font-size:25px;
	font-family:Georgia;

}
p{
	color:#777777;
	font-family:Arial;
	float:left;
	clear:both;
}


@media screen and (min-width:769px) and (max-width: 980px) {
.content{
	width:950px;
}

.sidebar{
	width:100%;
	background-color:white;
	border: 2px #CCCCCC solid;
	padding:5px;
}
.icons{
	float:left;
	clear:left;
}
.about{
	width:100%;
	float:left;
	background-color:white;
	border: 2px #CCCCCC solid;
	clear:left;
	margin-top:10px;
	padding:10px;
}
.contact{
	width:100%;
	float:left;
	background-color:white;
	border: 2px #CCCCCC solid;
	clear:left;
	margin-top:10px;
}
.portfolio{
	width:100%;
	float:left;
	clear:left;
	background-color:#ffffff;
	border: 2px #CCCCCC solid;
	clear:left;
	margin-top:10px;
	padding:10px;
}
}


@media screen and (min-width:641px) and (max-width: 768px) {
.content{
	width:738px;
}

.sidebar{
	width:100%;
	background-color:white;
	border: 2px #CCCCCC solid;
	padding:5px;
}
.icons{
	float:left;
	clear:left;
}
.contact{
	width:100%;
	float:left;
	background-color:#ffffff;
	border: 2px #CCCCCC solid;
	clear:left;
	padding:10px;
	margin-top:10px;
}
.about{
	width:100%;
	float:left;
	background-color:#ffffff;
	border: 2px #CCCCCC solid;
	clear:left;
	margin-top:10px;
	padding:10px;
}
.portfolio{
	width:100%;
	background-color:#ffffff;
	border: 2px #CCCCCC solid;
	clear:left;
	float:left;
	margin-top:10px;
	padding:10px;
}
}


@media screen and (max-width: 640px) {
.content{
	width:620px;

}
.menu{
	float:left;
	clear:left;
	text-align:center;
	justify-content:space-around;
	width:100%;
}
h1{
	width:100%;
}
.sidebar{
	width:100%;
	background-color:white;
	border: 2px #CCCCCC solid;
	padding:5px;
}
.icons{
	float:left;
	clear:left;
}
.about{
	width:100%;
	float:left;
	background-color:white;
	border: 2px #CCCCCC solid;
	clear:left;
	margin-top:10px;
	padding:10px;
}
.contact{
	width:100%;
	float:left;
	background-color:white;
	border: 2px #CCCCCC solid;
	margin-top:10px;
}
.portfolio{
	width:100%;
	float:left;
	background-color:#ffffff;
	border: 2px #CCCCCC solid;
	clear:left;
	margin-top:10px;
	padding:10px;
	overflow:auto;
}
}






